@import url('https://fonts.googleapis.com/css2?family=Cookie&family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

.cookie-regular {
  font-family: 'Cookie', cursive;
  font-weight: 400;
  font-style: normal;
}

.mulish-extralight {
  font-family: 'Mulish', sans-serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
}
.mulish-light {
  font-family: 'Mulish', sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}
.mulish-regular {
  font-family: 'Mulish', sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
.mulish-medium {
  font-family: 'Mulish', sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}
.mulish-semibold {
  font-family: 'Mulish', sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}
.mulish-bold {
  font-family: 'Mulish', sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

*,
body {
  font-family: 'Mulish', sans-serif;
}
